@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

.navvert{
    width: 20rem;
}
.navvert1{
    display: flex;
    flex-direction: column;
    height: 17rem;
    background: url(../img/Group\ 200.svg);
    font-size: 0.9rem;
}
.navvert1 img{
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    align-self: center;
}
.navvert1 h2{
    color: var(--blanco);
    align-self: center;
}
.navvert1 p{
    color: var(--blanco);
    align-self: center;
    margin-bottom: 3rem;
}
.navvert2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42rem;
    background-color:var(--negro);
    font-size: 1.3rem;
    color:var(--blanco);
}
.navvert2 h2{
margin-top: 2rem;
}

.navd1{
    margin-left: -5rem;
}

.navvert3{
    display: flex;
    justify-content: center;
}

.navd2{
margin-top: -4rem; 
color: var(--blanco);
font-size: 2rem;
}

.dashmain{
    background: url(../img/FondoDashboard.jpg);
    background-repeat: no-repeat;
}

.dashcont{
    background-color: #cfcfcfe3;
    margin: 3rem;
    width: 90rem;
    height: 53rem;
    border-radius: 10px;
}
.tittle h2{
   font-size: 2.4rem;
   margin-left: 32rem;
}
.cont{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.cont1{
    margin-top: 1rem;
    width: 23rem;
    height: 43rem;
}
.cont2{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 28rem;
    height: 45rem;
}
.cont3{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 28rem;
    height: 43rem;
}
.cont1 img{
    margin-left: 7rem;
    
    width: 16rem;
}
.cont1 div{
    display: flex;
    justify-content:space-around;
    background-color: var(--azuloscuro);
    align-self: center;
    color: var(--blanco);
    width: 16rem;
    margin-left: 7rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.cont1 a{
    text-align: center;
    display: flex;
    justify-content:center;
    background-color: var(--negro);
    font-size: 1.2rem;
    width: 16rem;
    margin-left: 7rem;
    margin-top: 3rem;
    border: 0px;
    border-radius: 5px;
    color: var(--blanco);
}
.cont input{
    border-radius: 3px;
    border: 0px;
    height: 2.2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.cont select{
    border-radius: 3px;
    border: 0px;
    height: 2.2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.gener{
    margin-bottom: 1rem;
}
.gen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gen input{
    color: var(--azuloscuro);
}
.cont2 a{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--negro);
    font-size: 1.2rem;
    width: 18rem;
    height: 3rem;
    border: 0px;
    border-radius: 5px;
    color: var(--blanco);
}
.confirm{
    margin-top: 9rem;
}
a{
    text-decoration: none;
}